.testContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.testHeader {
  font-size: 1.5em;
  color: #333;
}


.test-list, .question-list, .answer-list {
  margin-bottom: 20px;
}

.test-item, .question-item, .answer-item {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}