.supportContainer {
  background-color: rgb(246, 246, 228);
  padding-top: 20px;
  min-height: 100vh; 
  width: 100%;
  box-sizing: border-box; 
  margin: 0; 
  
 
}
.policyContainer {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 1000px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-attachment: scroll; 
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  color:rgb(76, 152, 150);
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 26px;
  text-align: center;
}

.lastUpdated {
  margin-bottom: 10px;
  font-style: italic;
  color: #666;
  text-align: center;
}

.sectionTitle {
  font-size: 1.25rem;
  color: #222;
  margin-top: 20px;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .policyContainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    font-size: 24px;
  }

  .sectionTitle {
    font-size: 1rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 480px) {
  .policyContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    font-size: 20px;
  }
}

