.containerHome {
	background-color: rgb(246, 246, 228);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding-right: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.p {
	margin: 0px;
	margin-bottom: 5px;
}

.rightContainer {
	padding-right: 20px;
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h4 {
	font-size: 24px;
}

.textContent {
	font-size: 18px;
	text-align: center;
	text-align: justify;
}

.paragraph {
	font-size: 18px;
}
.boldText {
	font-weight: bold;
	font-size: 18px;
	margin-right: 10px;
}

.moreInfoLink {
	font-size: 16px;
	color: rgb(76, 152, 150);
	font-style: italic;
	margin-bottom: 20px;
}
.moreInfoLink:hover {
	color: #333;
}

.demoButtonContainer {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.demoButtons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 50px;
	padding-right: 50px;
	width: 100%;
	margin: 0;
}

.demoButton {
	height: 130px;
	width: 350px;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	background-repeat: no-repeat;
	transition: transform 0.3s;
	position: relative;
}

.demoButton:hover {
	transform: scale(1.03);
	z-index: 5;
}

.demoButtonBE {
	background-image: url('/images/button_BE.png');
}

.demoButtonFE {
	background-image: url('/images/button_FE.png');
}

.demoButtonQA {
	background-image: url('/images/button_QA.png');
}

.imageFullSize {
	max-width: 50vw;
	max-height: 50vh;
	object-fit: contain;
}
.hoverImage {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;

	max-width: 80vw;
	max-height: 80vh;
	transform: translate(-50%, -100%);
	object-fit: contain;
	z-index: 10;
}

.hoverImageVisible {
	display: block;
}

@media (min-width: 481px) and (max-width: 768px) {
	.demoButton {
		height: 20px;
		width: 80px;
		margin: 6px;
	}
	.demoButtonContainer {
		padding-top: 10px;
	}
	.textContent {
		font-size: 6px;
	}
	.h4 {
		font-size: 12px;
	}
	.demoButtons {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.demoButton {
		height: 60px;
		width: 180px;
		margin: 6px;
	}
	.demoButtonContainer {
		padding-top: 10px;
	}
	.textContent {
		font-size: 10px;
	}
	.h4 {
		font-size: 14px;
	}
	.demoButtons {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.demoButton {
		height: 70px;
		width: 220px;
		margin: 6px;
	}
	.demoButtonContainer {
		padding-top: 40px;
	}
	.textContent {
		font-size: 18px;
	}
	.h4 {
		font-size: 22px;
	}
	.demoButtons {
		padding-left: 20px;
		padding-right: 20px;
	}
}
