.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar_upper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 55px;
  z-index: 2;
  padding-right: 70px;
}

.navbar_lower {
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  background-color: rgb(209, 92, 83);
  height: 40px;
  padding-bottom: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-right: 70px;
}

.logo {
  background-image: url('/images/testpool_logo_popart2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height: 80px;
  width: 150px;
  margin-left: 50px;
}

.navbar_upper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/hedear_turkis.png');
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  z-index: -1;
}

.nav_link {
  color: #252525;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 20px;
  display: inline-block;
  padding: 5px 10px;
  
}

.nav_link:hover,
.nav_link.active {
  color: rgb(76, 152, 150);
  text-decoration: none;
}

.nav_link_lower {
  font-family: monospace;
  font-size: 16px;
  margin-left: 15px;
  color: rgb(246, 246, 228);
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-style: italic;
}

.nav_link_lower:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  z-index: 1000;
 
}

@media (max-width: 768px) {
  .navbar_upper {
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    padding-right: 20px;
  }

  .navbar_upper::before {
    display: none;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100px;
    background-size: contain;
  }

  .nav_links {
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
  }

  .navbar_lower {
    margin-top: 10px;
  }

  .nav_link,
  .nav_link_lower {
    font-size: 16px;
    margin-left: 0;
    padding: 5px;
    text-align: center;
  }

  .nav_link_lower:hover {
    transform: scale(1);
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .navbar_upper {
    padding-right: 40px;
  }

  .logo {
    width: 120px;
    background-size: contain;
  }

  .nav_links {
    justify-content: flex-end;
    gap: 10px;
  }

  .nav_link,
  .nav_link_lower {
    font-size: 16px;
    margin-left: 15px;
  }

  .nav_link_lower:hover {
    transform: scale(1.05);
  }

  .navbar_lower {
    padding-right: 40px;
  }
}
