.mainContainer {
	background-color: rgb(246, 246, 228);
	padding-top: 40px;
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.calenderContainer {
	position: relative;
	z-index: 1;
}
.headerAC {
	color: rgb(209, 92, 83);
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 26px;
	text-align: center;
}
.calenderContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 100px;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	position: relative;
	z-index: 1;
}

.day {
	width: 250px;
	height: 200px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background-color: rgb(246, 246, 228);
	padding: 10px;
	text-align: center;
	position: relative;
}

.dayNumber {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 40px;
	background-color: rgb(252, 177, 70);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	margin: auto;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.answer {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	outline: none;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	font-size: 16px;
}

.question {
	margin-top: 5px;
	transition: background-color 0.3s;
	padding: 5px;
	border-radius: 4px;
	font-size: 14px;
}

.correct {
	background-color: rgb(252, 177, 70);
	height: 120px;
	width: 150px;
}

.incorrect {
	background-color: rgb(241, 155, 149);
	height: 120px;
	width: 150px;
}

.day {
	cursor: pointer;
	background-size: cover;
	transition: background 0.3s ease-in-out;
}

.day.open {
	background-image: none;
	justify-content: flex-start;
	align-items: flex-start;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding-bottom: 10px;
}
.articleContent {
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
}

.question,
.answer {
	display: none;
	width: 80%;
}

.day.open .question {
	display: block;
	margin-top: 5px;
}

.day.open .answer {
	margin-top: 145px;
}

.content p {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	font-size: 16px;
	padding-bottom: 10px;
}

.content a {
	font-size: 16px;
	color: rgb(76, 152, 150);
	font-weight: bolder;
	font-style: italic;
	text-decoration: none;
	transition: color 0.3s;
	align-self: center;
	margin-top: auto;
}

.content a:hover,
.content a:focus {
	color: black;
	text-decoration: underline;
}

@keyframes correctAnswerAnimation {
	0% {
		transform: scale(1);
		background-color: rgb(252, 219, 172);
	}
	50% {
		transform: scale(1.1);
		background-color: rgb(252, 177, 70);
	}
	100% {
		transform: scale(1);
		background-color: rgb(252, 219, 172);
	}
}

.correct {
	animation: correctAnswerAnimation 1s ease-in-out;
}

.day1 {
	background-image: url('/images/advent_02.png');
}
.day2 {
	background-image: url('/images/advent_03.png');
}
.day3 {
	background-image: url('/images/advent_04.png');
}
.day4 {
	background-image: url('/images/advent_05.png');
}
.day5 {
	background-image: url('/images/advent_06.png');
}
.day6 {
	background-image: url('/images/advent_07.png');
}
.day7 {
	background-image: url('/images/advent_08.png');
}
.day8 {
	background-image: url('/images/advent_09.png');
}
.day9 {
	background-image: url('/images/advent_10.png');
}
.day10 {
	background-image: url('/images/advent_11.png');
}
.day11 {
	background-image: url('/images/advent_12.png');
}
.day12 {
	background-image: url('/images/advent_13.png');
}
.day14 {
	background-image: url('/images/advent_15.png');
}
.day15 {
	background-image: url('/images/advent_16.png');
}
.day16 {
	background-image: url('/images/advent_17.png');
}
.day18 {
	background-image: url('/images/advent_19.png');
}
.day19 {
	background-image: url('/images/advent_20.png');
}
.day20 {
	background-image: url('/images/advent_21.png');
}
.day21 {
	background-image: url('/images/advent_22.png');
}
.day22 {
	background-image: url('/images/advent_23.png');
}
.day23 {
	background-image: url('/images/advent_24.png');
}
.day24 {
	background-image: url('/images/advent_25.png');
}
.day13 {
	background-image: url('/images/advent_14.png');
}
.day17 {
	background-image: url('/images/advent_18.png');
}

.question,
.answer {
	display: none;
}

.day.open .question,
.day.open .answer {
	display: block;
}

@keyframes snowfall {
	0% {
		transform: translateY(-10vh);
	}
	100% {
		transform: translateY(100vh);
	}
}

.snowflake {
	position: absolute;
	top: -10px;
	width: 10px;
	height: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	opacity: 0.7;
	animation: snowfall 10s linear infinite;
	z-index: 1000;
}

.snowflake.small {
	width: 8px;
	height: 8px;
	animation-duration: 7s;
}

.snowflake.medium {
	width: 14px;
	height: 14px;
	animation-duration: 10s;
}

.snowflake.large {
	width: 18px;
	height: 18px;
	animation-duration: 12s;
}
