.editButton,
.saveButton{
  background-color: rgb(76, 152, 150);
  border: none;
  color: white;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 10px auto;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  margin-top: 20px;
}

.editButton:hover,
.saveButton:hover {
  background-color: rgb(252, 177, 70);
}