.containerHome {
	background-color: rgb(246, 246, 228);
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 100vh;
	width: 100%;
	justify-content: center;
}

.mainContainer {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testHeading {
	color: rgb(76, 152, 150);
	font-family: Tahoma, sans-serif;
	margin: 10px 0;
	width: 100%;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}
.questionTitle {
	color: rgb(209, 92, 83);
	font-family: Tahoma, sans-serif;
	margin: 10px 0;
	width: 100%;
	text-align: center;
	font-size: 22px;
}

.questionContainer {
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70vw;
	padding: 10px;
	margin-top: 20px;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questionTitle {
	color: rgb(209, 92, 83);
	font-family: Tahoma, sans-serif;
	margin: 10px 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.inputRow {
	width: 100%;
	display: flex; 
	flex-direction: column;
	align-items: center;
	gap: 10px; 
	margin-top: 10px;
}

.answerBlock {
	
	align-items: center; 
	justify-content: space-between; 
	width: 90%;
	background-color: #ffffff;
	padding: 15px;
	border-radius: 4px;
	margin-top: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	gap: 10px;
}

.answerBlock p {
	margin: 0;
	font-size: 16px;
}
