.containerHome {
	background-color: rgb(246, 246, 228);
	padding-top: 40px;
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
}
.container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  padding-top: 20px;  
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px; 
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container > * {
  padding: 10px;
  width: calc(100% - 20px);
}

h1 {
  color: rgb(209,92, 83);
  font-family: Tahoma, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

h3 {
  color: rgb(209,92, 83);
  font-family: Tahoma, sans-serif;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

thead {
  background-color: rgb(246, 246, 228);
}

.table-container {
  width: 100%;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 1px solid #aaa9a9;
  padding: 8px;
  text-align: center;
}   

.new-answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input,
.checkboxContainer {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}

.button {
  background-color: rgb(76,152, 150);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 10px auto;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
}
.answerButton{
  background-color: rgb(76,152, 150);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  width: 80%;
}

.button:hover,
.answerButton:hover  {
  background-color: rgb(252, 177, 70);
}

@media (max-width: 768px) {
  .table-container,
  .new-answer-container {
    width: 95%;
  }

  .button {
    width: 70%;
  }
}
